<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
        <title>Treather App</title>
    </head>
    <body>
        <main>
            <section class="app header">
                Treather App
            </section>
            <section class="app">
                <!--form to submit data-->
                <form id="form">
                    <p>Know the weather for your travel with Treather</p>
                    <label for="text">Please enter destination and date of departure</label>
                    <div class="text-button">
                        <input type="text" id="text" placeholder="destination..." required>
                        <input type="date" id="date" required>
                        <input type="submit" value="Go on a trip">
                    </div>
                </form>
                <input type="button" id="delete" value="Reset form and results">
            </section>
            <!--shows result of the process-->
            <section class="app results", id="results-area">
            </section>
        </main>
        <!--adding Service Workers for supported browsers-->
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>