html {
    box-sizing: border-box;
    font-size: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
}

* {
    &::before {
        box-sizing: inherit;
    }
    &::after {
        box-sizing: inherit;
    }
}

body {
    display: grid;
    grid-template-rows: minmax(18.75rem, auto) 3.125rem;
    padding: 0.5rem;
    margin: 0;
    justify-content: center;
    font-family: 'Oswald', BlinkMacSystemFont, sans-serif;
    @media (min-width: 64rem) {
        grid-template-rows: minmax(18.75rem, auto) 4.5rem;
        padding: 1.5rem;
    }
}

main {
    display: grid;
    grid-template-rows: minmax(5rem, auto) minmax(8.75rem, auto) minmax(1.25rem, auto);
    color: #fff;
    justify-content: center;
    gap: 0.5rem;
    .app {
        margin: 0 0.2rem 0 0.2rem;
        padding: 0.2rem 0.4rem 0 0.4rem;
        &.header {
            padding-top: 1.25rem;
            font-size: 2rem;
            border-bottom-width: medium;
            border-bottom-style: solid;
        }
        .text-button {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.3rem;
            padding: 0.8rem 0.2rem 1rem 0.2rem;
        }
        &.results {
            padding: 1rem 1rem 0 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: fit-content;
            height: min-content;
        }
    }
    //tablet view
    @media (min-width: 48rem) {
        .app {
            margin: 0;
            padding: 0;
            &.header {
                font-size: 3rem;
            }
            .text-button {
                display: flex;
                flex-direction: row;
                gap: 1.5rem;
            }
        }
    }
    //desktop view
    @media (min-width: 64rem) {
        .app {
            &.header {
                font-size: 4.5rem;
            }
            .text-button {
                gap: 2rem;
            }
        }
    }
}